<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage-bottom</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

</head>
<body class="p-0 m-0">

    <section class="image-banner">
        <div class="banners mb-8 relative">

                <div class="promo-img-wrapper">
                    <img class="desktop" src="images/Khaki_Desktop_Banner.jpg" alt="banners">
                    <img class="mobile" src="images/Khaki_Mobile_Banner.webp" alt="banners">
                </div>

                <div class="btn-container">
                    <div><a href=""><button class="btn-women">WOMEN</button></a></div>
                    <div><a href=""><button class="btn-men">MEN</button></a></div>
                    <div><a href=""><button class="btn-video">VIDEO</button></a></div>
                </div>
                <div class="special-btn-container mx-auto mb-8">
                    <div class="header"><a href=""><button>WOMEN</button></a></div>
                    <div class="header"><a href=""><button>MEN</button></a></div>
                    <div class="header"><a href=""><button>WATCH THE VIDEO</button></a></div>
                </div>


          </div>
    </section>





    <section class="promo-slider  mb-8">
        <div class="slider">

            <div class="max-width relative">
                <div class="slick-list">

                    <div class="slick-track">
                            <h2 class="uppercase font-normal text-2xl m-0">We know you'll love</h2>

                            <div id="app" class="promoslide-main" data-flickity='{ "cellAlign": "left", "contain": true }'>
                                <div class="slick block float-left h-full" v-for="product in products">
                                <a href="">
                                <img class="w-full block border-none" :src="product.imgSrc" alt="">
                                <p class="c-gray text-left leading-tight mt-2 mb-3">{{ product.desc }}</p>
                                </a>
                                </div>     
                            </div>
                            <img src="" alt="" class="promo-prev">
                            <img src="" alt="" class="promo-next">
                    </div>

                </div>
            </div>

        </div>
    </section>




    <section class="shop-division">

        <div class="max-width">

            <h2 class="font-style uppercase text-4xl font-light c-blue m-auto mt-8 mb-4 tracking-wide leading-9">Shop by Division</h2>
            <div id="apps" class="containers flex flex-wrap justify-center">
                    <div class="division-container" v-for="division in divisions">
                        <a href="">
                            <img class="w-full border-none" :src="division.imgSrc" alt="">
                            <div class="text-block text-center absolute	bg-white font-style uppercase font-black">{{ division.label }}</div>
                        </a>
                    </div>
            </div>

        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="productList.js"></script>
    <script src="divisions.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>